* {
    font-family: "Helvatica", sans-serif;
}

.title {
    font-family: "Helvatica", sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: white;
    background-image: url(../the-flatiron-building.png);
    text-align: center;
    background-size: cover;
}

#links {
    font-family: "Helvatica", sans-serif;
    font-size: 18px;
    color: white;
}

.Process {
    font-family: "Helvatica", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.Stuff {
    font-family: "Helvatica", sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.Designed_in_New_York {
    font-family: "Helvatica", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image: url(../the-flatiron-building.png);
}

#p {
    font-size: 14px;
    font-weight: normal;
}

.Credits {
    font-family: "Helvatica", sans-serif;
    font-size: 11px;
    color: white;
    background-color: dimgray;
    font-weight: normal;
}